@import url(https://fonts.googleapis.com/css2?family=Work+Sans);
/* ---------------------Main Navigation--------------------- */
.checkbtn {
  font-size: 30px;
  color: cornflowerblue;
  line-height: 80px;
  margin-right: 40px;
  position: fixed;
  top: 20;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background: cornflowerblue;
  -webkit-box-shadow: 0px 10px 10px;
          box-shadow: 0px 10px 10px;
  list-style-type: none;
  margin: -20px;
  width: 150px;
  height: 100%;
}

nav li:first-child {
  color: white;
  position: absolute;
  top: 20px;
  font-size: xx-large;
  margin-left: 0.8em;
}

nav ul li {
  padding-left: 3px;
  margin-top: 2em;
}

nav ul li:last-child {
  color: cornflowerblue;
}

nav ul li a {
  text-decoration: none;
  background-color: cornflowerblue;
  color: white;
  padding: 5px;
  font-weight: bold;
  width: 100%;
}

ul a:hover, ul a.active {
  background: none;
  color: cornflowerblue;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

@media (max-width: 1126px) {
  .menu-btn {
    position: relative;
    /* left: 250px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid cornflowerblue; */
  }
  .menu-btn__burger {
    width: 40px;
    height: 6px;
    background: cornflowerblue;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px blue;
            box-shadow: 0 2px 5px blue;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before, .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: cornflowerblue;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px blue;
            box-shadow: 0 2px 5px blue;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  /* Animation Button */
  .menu-btn.open .menu-btn__burger {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .checkbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    top: 20px;
    /* right: 20px; */
  }
  #check-menu {
    display: none;
  }
  #check-menu:checked ~ ul {
    left: 0;
  }
  nav ul {
    height: 25%;
    top: 20%;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 4px solid white;
    min-height: 70%;
    -webkit-box-shadow: 0px 10px 10px;
            box-shadow: 0px 10px 10px;
  }
  nav ul li {
    display: block;
    text-align: left;
    margin-left: -20px;
    line-height: 5px;
  }
  nav ul li:first-child {
    display: none;
  }
  nav ul li:last-child {
    color: white;
    padding-top: -25px;
    font-size: x-large;
    text-align: center;
  }
  nav ul li a {
    font-size: 15px;
  }
  a:hover, a.active {
    background: none;
    color: #3434dd;
  }
}

/* ------Main------- */
html, body {
  padding: 0;
  margin: 0;
  background-color: #fbf8f3;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
}

main h1 {
  text-align: center;
  padding-top: 20px;
}

.gridtable {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-left: 18%;
  margin-right: 5%;
  max-width: 80%;
}

.gridtable span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.gridtable span:hover {
  background: chartreuse;
}

.color-row {
  background: lightgrey;
}

/* -------Additional Information----------- */
section h1 {
  text-align: center;
  width: 100%;
}

input {
  width: 20vw;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
  margin-right: auto;
}

@media (max-width: 1126px) {
  .gridtable {
    margin-left: 10%;
  }
}
/*# sourceMappingURL=Members.css.map */