header .hide .back-to-top-btnn{

  display: none;


    position: relative;
    // right: -100px;
    right: 20px;
    bottom: 150px;
    transition: right 0.5s;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    z-index: 200;

   
}



header .back-to-top-btnn{

  display: block;


    position: relative;
    // right: -100px;
    right: 20px;
    bottom: 150px;
    transition: right 0.5s;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    z-index: 200;

   
}


// .back-to-top-btnn::before {
//   content: "^";
//   font-size: x-large;
//   color: brown;
//    position: absolute;
//     // right: -100px;
//     right: 20px;
//     bottom: 150px;
//     transition: right 0.5s;
//     cursor: pointer;
//     background-color: white;
//     font-size: 20px;
//     padding: 10px;
//     z-index: 200;

   
//     }
