header{
  background: none;
}

header .btn-icon{

    display: none;
      
  }
  
  
.show > .btn-icon{
  
    display: block;
    position: fixed;
    bottom: 50px;
    right: 40px;
    fill: white;
    scale: (3);
    z-index: 10;
    background-color: rgb(191, 228, 245);
    border-radius: 50%;
    padding: 2px;
    opacity: 0.7;
    filter: drop-shadow(1px 1px 2px gray);

 
}
