html, body{
      padding: 0;
      margin: 0;
      background-color: #fbf8f3;
      font-size: 17px;
      font-family: 'Work Sans', sans-serif;
  }
  
  
  /* ---------------------Navigation--------------------- */
  
  
  .checkbtn{
      font-size: 30px;
      color: rgb(19, 172, 233);
      /* float: right; */
      line-height: 80px;
      margin-right: 40px;
      position: fixed;
      top: 20;
      cursor: pointer;
      display: none;
  }
  
  #check{display: none;}
  
    
  nav ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      background:rgb(19, 172, 233) ;
      list-style-type: none;
      margin: -20px;
      width: 150px;
      height: 100%;
  }
  
  nav li:first-child{
      color: white;
      padding-bottom: 50px;
      font-size: xx-large;
      margin-left:0.8em;
  
  }
  
  
  nav ul li{
      padding-left: 3px;
      margin-top: 2em;
  }
  
  ul li a {
      text-decoration: none;
      background-color: rgb(19, 172, 233);
      color: white;
      padding: 5px;
      font-weight: bold;
      width: 100%;
  }
  

  ul a:hover, ul a.active{
      background: none;
      color: rgb(19, 172, 233);
      filter: contrast(50%);
  }
  
  
  nav ul li:last-child {
      color: rgb(19, 172, 233);}
  
  

  /* ---------------------Main--------------------- */

main{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

}

main h1{
      color:rgb(19, 172, 233) ;
      text-align: center;
      padding-top: 20px;
      margin-left: 250px;
      width: 100%;
}


  /* -------Members table----------- */


.divTable{
	display: table;
      width: 75%;
      margin-left: 200px;
      /* margin-right: 200px; */
}
.divTableRow {
 
	display: table-row;
}
.divTableRow:hover {
      background-color: rgb(174, 225, 245);
      color: white;
}


.divTableHeading {
      background-color: rgb(19, 172, 233);
      color: white;
      display: table-row;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
      position: relative;
	display: table-row-group;
}




  /* -------Additional Information----------- */

  
section h1{
      color:rgb(19, 172, 233);
      text-align: center;
      width: 100%;
}

input{
      width: 20vw;
      background: rgb(174, 225, 245);
      padding: 8px;
      border-radius: 10px;
      border: none;
      margin: 5px;
}
input:focus {
      outline: none;
}

input::placeholder { 
      color: gray;
      opacity: 1;
    }

.info-container{

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left:15%; 
      margin-right:auto;
      width: 80%;
      }
.btnAdd {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-right:8%;     
}
.btnDelete{
      width: 75%;
      margin-left: 200px;
}


button{
      margin-top: 5px;
      padding: 8px;
      border-radius: 5px;
      border: none;
      background:rgb(19, 172, 233);
      color: white;
      font-size: 15px;
      font-weight: bold;
      box-shadow: 0px 0px 3px gray;
      cursor: pointer;
 }
 button:hover{
      translate: 0px 2px;
      box-shadow: none;

  }


/* ---------------------Media Queries--------------------- */



@media (max-width: 1024px){


      .checkbtn{  
            display:flex;
            justify-content: flex-end;
            position: relative;
            top: 20px;
            /* right: 20px; */
    }
    
    #check:checked ~ ul{
        left: 0;
    }
    
    nav ul{
          min-height: 800px;
          height: 25%; 
          top: 20%;
          left: -100%;
          text-align: center;
          transition: all .5s;
          border-top-right-radius: 30px ;
          border-bottom-right-radius: 30px ;
          border: 4px solid white;
          min-height: 60%;
          box-shadow: 2px 2px 5px gray;
          overflow: none;
    }

    
    nav li:first-child{display: none;}
    
    nav ul li:last-child{
        color:white;
        padding-top: 25px;
        font-size: x-large;
        text-align: center;
    }
    
    
    nav ul li{
          display: block;
          text-align: left;
          margin-left: -20px;
          line-height: 30px;
    }
    nav ul li a{
          font-size: 20px;
    }
    a:hover,a.active{
          background: none;
          color: rgb(19, 172, 233);
          filter: contrast(120%);
     }


     .divTable{
	display: table;
      width: 75%;
      margin-left: 20px;
      /* margin-right: 200px; */
}

      .btnDelete{
            width: 75%;
            margin-left: -75px;
      }


}