.aboutContainter{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: white;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vw;
    background-image: url("../../assets/img/portfolio/code-pattrn-bg.jpg");
    
    background-attachment: fixed;
    // background-position: center;
    background-repeat: repeat;
    background-size: 250x 250px;
    // background-blend-mode: soft-light;
    // background-color: white;
}

.aboutContainter:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(180deg,  #fff, #fff2b9, #fff);
    opacity: 0.95;
    // background-color: white;
    // opacity: 0.98;
    // filter: grayscale(50%);
  }


.card{
    width: 65vw;
    min-width: 250px;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    margin-bottom: 20%;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 5px gray;
    border-radius: 2vw;


    img{
    width: 80%;
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 15px;
    }

   
    .card-body{
    width: 85%;
    margin-left: auto;
    margin-right: auto;

        .card-text{
            font-size: 15px;
        }

        svg{
            transform: scale(1.75);
            filter: contrast(20%);
        }

        svg:hover{
            transform: scale(1.75);
            filter: contrast(100%);
        }

    }

    p svg{
        
        position: absolute;
        bottom: 50px;
        right: 50px;
        // width: 3em;
        fill: gray;
        transform: scale(2.5);
        animation-name: ckw;
        animation-duration: 3s;
        /* Things added */
        animation-iteration-count: infinite;
        // transform-origin: 50% 50%;
    
        
        @keyframes ckw {
            0% {transform: scale(2) rotate(360deg);
            
            }
            100% {transform: scale(2) rotate(0deg);
            }
        }
    }
    
    p svg:hover{
    
        animation-name: ckx;
        animation-duration: 0s;
        /* Things added */
        animation-iteration-count: infinite;
    
    
    @keyframes ckx {
        0% {transform: scale(2) rotate(0deg);
        
        }
        100% {transform: scale(2) rotate(0deg);
            
        }
     }
    
    }
}
    



.progress-programming{
    position: relative;
    align-self: center;
    max-width: 500px;
    width: 65vw;
    padding: 70px 50px 100px 50px;
    margin-top: auto;
    margin-bottom: 20%;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 5px gray;
    border-radius: 2vw;
    background-color: white;

    h3{
        font-size: 1.25rem;
        padding: 5px 0px;
        text-align: center;
    }

    h4{
        font-size: 1rem;
        padding-top: 8px;
        color: gray;
    }

    .progress{
        width: 100%;
        height: 15px;
        background-color: rgb(219, 219, 219);
        // margin-bottom: 4px;
    }

    p svg{
        
        position: absolute;
        bottom: 50px;
        right: 50px;
        // width: 3em;
        fill: gray;
        transform: scale(2.5);
        animation-name: ckw;
        animation-duration: 3s;
        /* Things added */
        animation-iteration-count: infinite;
        // transform-origin: 50% 50%;
    
        
        @keyframes ckw {
            0% {transform: scale(2) rotate(0deg);
            
            }
            100% {transform: scale(2) rotate(360deg);
            }
        }
    }
    
    p svg:hover{
    
        animation-name: ckx;
        animation-duration: 0s;
        /* Things added */
        animation-iteration-count: infinite;
    
    
    @keyframes ckx {
        0% {transform: scale(2) rotate(0deg);
        
        }
        100% {transform: scale(2) rotate(0deg);
            
        }
     }
    
    }
}



@media (min-width: 2400px) {

    .card{ border-radius: 2vw;}
}


