@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'components/navigation/_navigation.scss';
@import 'components/banner/_banner.scss';
@import 'components/about/_about.scss';
@import 'components/contact/_contact.scss';
@import 'components/footer/footer.scss';



html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root{
  // display: flex;
  // flex-direction: column;

}