
@import url(https://fonts.googleapis.com/css2?family=Lobster); 

$primary-font-family: 'Lobster', cursive;
$primary-font-size:18px;

$primary-menu-font-size:20px;


$banner-paragraph-font-size:2vw;
$banner-header1-font-size:5vw;


$menus-header-text:3em;





