
$primary-color: cornflowerblue;
$secundairy-color: #fbf8f3;

$primary-text-color: black;
$secundairy-text-color:white;


$primary-button-color:none;
$secundairy-button-color:none;

$primary-button-color-hover:cornflowerblue;
$secundairy-button-color-hover: white;

$star-icon-colors:rgb(238, 203, 46);




$mobile-small: 576px;
$mobile-medium: 768px;
$mobile-big: 992px;
$mobile-superbig:1126px;


