.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    color: rgb(100, 100, 100);
    text-align: center;
    // background-color: white;


    h3{
        font-size: medium;
        padding: 40px;
    }
}