@import url('https://fonts.googleapis.com/css?family=Dosis');


.contactContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding: 50px;
    padding-top: 8vw;
    background-image: url("../../assets/img/portfolio/code-pattrn-bg.jpg");
    background-repeat: repeat;
    background-size: 250x 250px;
    background-attachment: fixed;
    // background-position: center;
    // background-color: white;
    // opacity: 0.5;

    // background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;

   

    
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
}

.contactContainer::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(180deg,  #fff, #daeef5, #fff);
    opacity: 0.95;

}


// background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);

    form{
        display: flex;
        flex-direction: column;
        justify-items: center;
        position: relative;
        background-color: white;
        width: 65vw;
        padding: 20px 10px;
        border: 1px solid lightgray;
        box-shadow: 0px 0px 5px gray;
        border-radius: 2vw;
        margin: 8% 5%;

        
        .col-sm-10{
            margin-left: auto;
            margin-right: auto;
        }

        h3{
            font-size: 1.25rem;
            text-align: center;
           
        }


        .form-label{
            display: none;
        }

        .btn{
            text-align: center;
            background-color: rgb(19, 172, 233);
            border-radius: 30vw;
            border: none;
        }
    }

    input{
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        border: none;
        border-bottom: 2px solid lightgray;
    }

    input:focus, input:active{
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 2px solid lightgray;
        // border-color: inherit;

    }
    
    #formMessage{
        height: 100px;
    }

    .row {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    p svg{
        
        position: absolute;
        bottom: 50px;
        right: 50px;
        // width: 3em;
        fill: gray;
        transform: scale(2.5);
        animation-name: ckw;
        animation-duration: 3s;
        /* Things added */
        animation-iteration-count: infinite;
        // transform-origin: 50% 50%;
   
        
        @keyframes ckw {
            0% {transform: scale(2) rotate(0deg);
            
            }
            100% {transform: scale(2) rotate(360deg);
            }
        }
    }
    p svg:hover{

        animation-name: ckx;
        animation-duration: 0s;
        /* Things added */
        animation-iteration-count: infinite;

    
    @keyframes ckx {
        0% {transform: scale(2) rotate(0deg);
        
        }
        100% {transform: scale(2) rotate(0deg);
            
        }
     }
    
    }
