[Desktop Entry]
Encoding=UTF-8
Name=Link to WD-Materiaal - Google Drive
Type=Link
URL=https://drive.google.com/drive/folders/1G96nNrsSdawoBgEK8ZZoc2qfaN6roC55
Icon=text-html
