.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100vw;
    height: 30%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

canvas{
    display: flex;
    height: 700px;
    width: 100%;

    
}




.banner{
    // background-image: url("../../assets/img/portfolio/elmer-portfolio-banner-1030x500v1.1.jpg");
    // background-attachment: fixed;
    // background-position: left;
    // background-repeat: no-repeat;
    // background-size: cover;
    min-height: 500px;
}




 h1, h2 {
    margin-left: 2vw;
    position: absolute;
    // z-index: 1;
    color: white;
    top:8vw;
    font-size: 5vw;
    margin-top: 50px;
}
.banner h2{
    top: 15vw;
    font-size: 3vw;

}


