.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100vw;
    height: 30%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

canvas{
    display: flex;
    position: fixed;
    z-index: -2;
    height: 700px;
    width: 100%;
 
}


.banner{
    min-height: 500px;
}

.titleBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


 h1, h2 {
    margin-left: 2vw;
    position: fixed;
    z-index: -1;
    color: white;
    top:8vw;
    font-size: 5vw;
    margin-top: 50px;
}
.banner h2{
    top: 15vw;
    font-size: 3vw;

}


