
$primary-color: rgba(194, 177, 82, 0.5);
$secundairy-color: cornflowerblue;

$primary-text-color:black;
$secundairy-text-color:white;


$primary-button-color:none;
$secundairy-button-color:none;

$primary-button-color-hover:cornflowerblue;
$secundairy-button-color-hover: rgba(194, 177, 82, 0.5);;



/* -----Screen Sizes---- */

$mobile-small: 576px;
$mobile-medium: 768px;
$mobile-big: 992px;


